# #Import Libraries

In [1]:
# !pip install scikit-learn==1.5.1

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# #Import Dataset

In [3]:
dataset = pd.read_csv('House_price.csv')
dataset

      HouseAge  Bedroom  FullBath  LotArea  Location  SalePrice
0         2003        3         2     8450     Urban     208500
1         1976        3         2     9600  SubUrban     181500
2         2001        3         2    11250     Rural     223500
3         1915        3         1     9550     Urban     140000
4         2000        4         2    14260  SubUrban     250000
...        ...      ...       ...      ...       ...        ...
1455      1999        3         2     7917     Urban     175000
1456      1978        3         2    13175  SubUrban     210000
1457      1941        4         2     9042     Urban     266500
1458      1950        2         1     9717  SubUrban     142125
1459      1965        3         1     9937  SubUrban     147500

[1460 rows x 6 columns]

# #Sanity Check

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HouseAge   1460 non-null   int64
 1   Bedroom    1460 non-null   int64
 2   FullBath   1460 non-null   int64
 3   LotArea    1460 non-null   int64
 4   Location   1460 non-null   object
 5   SalePrice  1460 non-null   int64
dtypes: int64(5), object(1)
memory usage: 68.6+ KB

In [5]:
dataset.shape

(1460, 6)

In [6]:
dataset.columns

Index(['HouseAge', 'Bedroom', 'FullBath', 'LotArea', 'Location', 'SalePrice'], dtype='object')

In [7]:
dataset.head()

   HouseAge  Bedroom  FullBath  LotArea  Location  SalePrice
0      2003        3         2     8450     Urban     208500
1      1976        3         2     9600  SubUrban     181500
2      2001        3         2    11250     Rural     223500
3      1915        3         1     9550     Urban     140000
4      2000        4         2    14260  SubUrban     250000

In [8]:
dataset.tail()

      HouseAge  Bedroom  FullBath  LotArea  Location  SalePrice
1455      1999        3         2     7917     Urban     175000
1456      1978        3         2    13175  SubUrban     210000
1457      1941        4         2     9042     Urban     266500
1458      1950        2         1     9717  SubUrban     142125
1459      1965        3         1     9937  SubUrban     147500

In [9]:
dataset.describe()

          HouseAge      Bedroom     FullBath        LotArea      SalePrice
count  1460.000000  1460.000000  1460.000000    1460.000000    1460.000000
mean   1971.267808     2.866438     1.565068   10516.828082  180921.195890
std      30.202904     0.815778     0.550916    9981.264932   79442.502883
min    1872.000000     0.000000     0.000000    1300.000000   34900.000000
25%    1954.000000     2.000000     1.000000    7553.500000  129975.000000
50%    1973.000000     3.000000     2.000000    9478.500000  163000.000000
75%    2000.000000     3.000000     2.000000   11601.500000  214000.000000
max    2010.000000     8.000000     3.000000  215245.000000  755000.000000

In [10]:
dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1455    False
1456    False
1457    False
1458    False
1459    False
Length: 1460, dtype: bool

In [11]:
dataset.drop_duplicates(inplace=True, ignore_index=True)
dataset

      HouseAge  Bedroom  FullBath  LotArea  Location  SalePrice
0         2003        3         2     8450     Urban     208500
1         1976        3         2     9600  SubUrban     181500
2         2001        3         2    11250     Rural     223500
3         1915        3         1     9550     Urban     140000
4         2000        4         2    14260  SubUrban     250000
...        ...      ...       ...      ...       ...        ...
1455      1999        3         2     7917     Urban     175000
1456      1978        3         2    13175  SubUrban     210000
1457      1941        4         2     9042     Urban     266500
1458      1950        2         1     9717  SubUrban     142125
1459      1965        3         1     9937  SubUrban     147500

[1460 rows x 6 columns]

In [12]:
dataset.isna().sum()

HouseAge     0
Bedroom      0
FullBath     0
LotArea      0
Location     0
SalePrice    0
dtype: int64

# #split the data into features and target

In [13]:
X = dataset.iloc[:,:-1]
X

      HouseAge  Bedroom  FullBath  LotArea  Location
0         2003        3         2     8450     Urban
1         1976        3         2     9600  SubUrban
2         2001        3         2    11250     Rural
3         1915        3         1     9550     Urban
4         2000        4         2    14260  SubUrban
...        ...      ...       ...      ...       ...
1455      1999        3         2     7917     Urban
1456      1978        3         2    13175  SubUrban
1457      1941        4         2     9042     Urban
1458      1950        2         1     9717  SubUrban
1459      1965        3         1     9937  SubUrban

[1460 rows x 5 columns]

In [14]:
y = dataset.iloc[:,[-1]]
y

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[1460 rows x 1 columns]

# #data preprocessing

In [15]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [16]:
blum = LabelEncoder()
Location = blum.fit_transform(X['Location'])

In [17]:
Location

array([2, 1, 0, ..., 2, 1, 1])

In [18]:
X['Location'] = Location
X

      HouseAge  Bedroom  FullBath  LotArea  Location
0         2003        3         2     8450         2
1         1976        3         2     9600         1
2         2001        3         2    11250         0
3         1915        3         1     9550         2
4         2000        4         2    14260         1
...        ...      ...       ...      ...       ...
1455      1999        3         2     7917         2
1456      1978        3         2    13175         1
1457      1941        4         2     9042         2
1458      1950        2         1     9717         1
1459      1965        3         1     9937         1

[1460 rows x 5 columns]

In [19]:
X.describe()

          HouseAge      Bedroom     FullBath        LotArea     Location
count  1460.000000  1460.000000  1460.000000    1460.000000  1460.000000
mean   1971.267808     2.866438     1.565068   10516.828082     1.425342
std      30.202904     0.815778     0.550916    9981.264932     0.653384
min    1872.000000     0.000000     0.000000    1300.000000     0.000000
25%    1954.000000     2.000000     1.000000    7553.500000     1.000000
50%    1973.000000     3.000000     2.000000    9478.500000     2.000000
75%    2000.000000     3.000000     2.000000   11601.500000     2.000000
max    2010.000000     8.000000     3.000000  215245.000000     2.000000

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

In [21]:
numeric_columns = ['HouseAge', 'Bedroom', 'FullBath', 'LotArea', 'Location']
transformer = MinMaxScaler()

In [22]:
preprocess = ColumnTransformer(
transformers=[
    ('numerical', transformer, numeric_columns)
])

In [23]:
# model
base_model = RandomForestRegressor( n_estimators=200, random_state=0)

In [24]:
model = Pipeline(steps=[
    ('preprocess', preprocess),
    ('model', base_model)
])

# split the dataset into train and test set

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [27]:
X_train

      HouseAge  Bedroom  FullBath  LotArea  Location
64        1997        3         2     9375         1
682       1996        2         1     2887         2
960       1958        2         1     7207         2
1384      1939        2         1     9060         1
1100      1920        1         1     8400         2
...        ...      ...       ...      ...       ...
763       1999        3         2     9430         1
835       1950        2         2     9600         1
1216      1978        4         2     8930         2
559       2003        2         2     3196         1
684       1998        4         2    16770         2

[1022 rows x 5 columns]

# #Training the Model

In [28]:
# from sklearn.ensemble import RandomForestRegressor

In [29]:
# model = RandomForestRegressor( n_estimators=200, random_state=0)

In [30]:
model.fit(X_train, y_train)

C:\Users\idris\anaconda3\lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('numerical', MinMaxScaler(),
                                                  ['HouseAge', 'Bedroom',
                                                   'FullBath', 'LotArea',
                                                   'Location'])])),
                ('model',
                 RandomForestRegressor(n_estimators=200, random_state=0))])

In [31]:
prediction = model.predict(X_test)
prediction

array([265768.29      , 115744.66666667, 129692.415     , 176541.25      ,
        93328.98214286,  87945.89      , 308943.465     , 126016.5       ,
       500407.3       , 254977.        , 208004.6       , 194330.26666667,
       198417.75      , 136647.75      , 132517.56      , 143835.        ,
       200100.        , 151781.58333333, 135016.165     , 102951.48      ,
       121844.965     , 146587.5       , 129508.25      , 196537.        ,
       158636.5       , 264686.62      , 170099.5       ,  84598.25      ,
       336695.22      , 108854.895     , 151695.95833333, 195224.64      ,
       130604.17166667, 283107.1       , 269641.62      , 281638.05      ,
       185399.41666667, 130498.        , 288278.615     , 245976.8       ,
       146372.25      , 126942.96428571, 202356.265     , 238437.675     ,
       329918.435     , 183438.        , 121975.        , 142594.75      ,
       178563.19166667, 136060.625     , 238325.19      , 143504.75      ,
       167996.        , 112128.5       , 258066.46      , 103997.81      ,
       108551.        , 267154.825     , 147512.29      , 115121.25      ,
       146994.79      , 148850.5       , 142819.75      , 165984.75      ,
       196537.        , 145611.75      , 179229.75      , 377461.13      ,
       120820.7       , 297188.69      , 177290.525     , 110953.        ,
       127149.41666667, 232048.09      , 137386.875     , 256541.845     ,
       158373.5       ,  98220.        , 342056.345     , 171127.25      ,
       131069.3152381 , 127432.165     , 119043.89      , 159871.23      ,
       292091.34      , 203275.745     , 140483.125     , 206163.25      ,
       251372.69      , 116963.25      , 193486.995     , 226197.62      ,
       223409.75      , 225639.085     , 176837.65      , 147870.5       ,
       187143.05      , 216126.91      , 126382.        , 129996.5       ,
       236932.485     , 241331.9       , 156897.75      , 136195.75      ,
       101197.34      , 278284.92      , 266617.5       ,  99513.75      ,
       217116.89      , 123261.435     ,  67181.51666667, 146019.75      ,
       239308.5       , 138071.625     , 161134.        , 140281.        ,
       253919.91      , 137772.415     , 192429.1       , 205745.88      ,
       159965.07142857, 167624.57666667, 141411.5       , 149946.375     ,
       200538.95      , 182510.42333333, 294195.01      , 189537.12      ,
       195433.15      , 187154.625     , 192303.66666667, 180478.515     ,
       123711.95      , 199574.5       , 148265.75      , 198745.3       ,
       140278.5       , 199483.445     , 105789.185     , 187341.25      ,
       150067.5       , 150938.875     , 220160.26      , 144528.75      ,
       174819.86      , 196764.915     , 198965.035     , 143821.25      ,
       179519.47833333, 257586.375     , 161088.        , 236105.67      ,
       323278.195     , 117149.        , 110408.04      , 272245.41      ,
       119191.5       , 172762.5       , 181730.82166667, 182496.25      ,
       152522.        , 146301.75      , 190025.89      , 161184.25      ,
       271219.36      , 116652.875     , 169790.1       , 215760.15      ,
       187025.72      , 179474.5       , 157384.5       , 151423.96      ,
       235596.805     , 254681.28      , 160159.75      , 146156.75      ,
       124047.92166667, 155419.25      ,  99651.86      , 149394.5       ,
       173178.18      , 194542.        ,  87843.4       , 220572.57      ,
       152457.555     , 157910.685     ,  86441.0375    , 190960.175     ,
       195864.38      , 141702.16666667, 144678.70238095, 136378.        ,
       264110.51      , 169841.10119048, 142840.85166667, 140478.82      ,
        85016.95833333, 149550.25      , 155182.25      ,  85845.10297619,
       139451.58333333, 216648.805     , 109941.25      , 143751.5       ,
       140956.82      , 183546.32738095, 143725.62      , 220619.725     ,
       263905.98      ,  66811.5       , 166723.33      , 240698.25      ,
        95947.895     ,  98979.25      , 240450.43      , 263569.74      ,
       181718.        , 226332.8       , 195644.425     ,  83554.7875    ,
       223183.        , 165189.75      ,  71174.04      , 143893.        ,
       158929.74      , 233948.5       , 223270.425     , 243575.52      ,
       130197.07      , 181049.75      ,  99510.43      , 140433.5       ,
       145258.75      , 198287.41      , 305660.785     , 111434.375     ,
       151220.25      , 109225.        , 112599.475     , 268454.64      ,
        79788.295     , 281411.04      , 269940.65      , 227440.        ,
       182088.        , 159311.5       , 131284.5       , 182796.5       ,
       107703.63166667, 197961.275     , 146711.25      , 244262.75      ,
        71429.5       , 316853.51      , 237175.825     , 188706.16      ,
        77005.65166667, 183689.165     , 510386.035     , 402813.83      ,
       169775.5       , 125791.5       , 158124.58333333, 144072.        ,
       370772.755     , 249974.875     , 209748.03333333,  72848.97      ,
       165240.        , 277038.265     , 161228.5       , 145472.5       ,
       129905.66666667, 189756.5       , 106037.01      , 316314.95      ,
       251780.        , 152651.155     , 324022.75      , 152578.        ,
       169648.75      , 284432.615     , 143587.5       , 135484.        ,
       205251.77      , 140032.5       ,  96343.31547619, 232682.785     ,
       401535.885     , 124787.        ,  96454.75      , 131616.66666667,
       260680.465     , 121244.87166667, 142880.675     , 232821.185     ,
       230269.35      , 184850.805     , 140927.49      , 166069.125     ,
        92909.43333333, 106435.875     , 201921.75      , 190268.6       ,
       154318.665     , 142537.625     , 134521.25      , 176944.25      ,
       207930.215     , 210578.95      , 105763.5       , 171337.77833333,
       112877.        ,  98307.135     , 112295.25      , 143446.25      ,
       307229.865     , 111309.855     , 155228.98833333, 150887.        ,
       106904.79      , 235895.75      ,  67048.        , 208309.26      ,
       141621.5       , 215782.25      , 142718.75      , 338972.365     ,
       156617.        , 143964.25      , 148431.25      , 224344.05      ,
       129029.25      , 238966.61      , 178499.14404762, 129370.        ,
       131982.91666667, 180552.915     , 111399.09      , 143960.625     ,
       346377.18      , 158937.41666667, 134687.91666667, 292897.06      ,
       150331.        , 143682.        , 111318.04      , 130884.375     ,
       118366.25      , 131102.5       , 216139.24      , 325067.3       ,
       146148.875     , 161251.25      , 164603.93666667, 346181.845     ,
       299412.845     , 139281.16666667, 213003.5       , 257769.3       ,
       244555.825     , 225389.5       , 190046.75      , 265334.68      ,
       108536.34      , 121023.39      , 206028.25      , 142216.18      ,
       338950.445     , 154767.        , 270918.31      , 118954.045     ,
       147668.75      , 147024.665     , 137247.95      ,  75550.        ,
       219999.66      , 168194.47      , 120021.175     , 218268.245     ,
       127203.5       ,  99571.75      , 100904.04      , 129110.42      ,
       135969.165     , 134275.33333333, 189193.75      , 191292.91      ,
       248404.275     , 329953.245     ,  90742.        , 119459.925     ,
       190734.26666667,  86377.5       , 144473.75      , 179886.1       ,
       144498.75      , 211305.        , 196888.        , 186523.25      ,
       293701.8       , 225058.98      , 109083.33333333,  88832.25      ,
       125441.75      , 345903.53      , 148780.795     , 292894.69      ,
       255379.95      , 267764.        , 173624.5       , 146035.29      ,
       197837.385     , 109201.57      , 160590.5       , 140011.75      ,
       225859.63      ,  92328.23214286, 305165.295     ,  95253.25      ,
       246454.25      , 473946.77      , 142700.625     , 134115.5       ,
       135136.        , 127002.29166667, 186434.        , 150254.625     ,
       240980.175     , 136015.25      , 133617.75      , 291220.895     ,
       136724.75      , 210435.75      , 144676.5       , 221353.45      ,
       229563.29      , 369433.16      ])

# #Model Evaluation

In [32]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [33]:
r2 = r2_score(y_test, prediction)
mae = mean_absolute_error(y_test, prediction)
mse = mean_squared_error(y_test, prediction)

print('r2 score: ', r2)
print('mean absolute error: ', mae)
print('mean_square error: ', mse)

r2 score:  0.6317498357323758
mean absolute error:  33193.49806071972
mean_square error:  2500047213.3461466

# #Save the Model

In [34]:
import pickle

In [35]:
pickle_out = open('HousePredict.pkl', 'wb')
pickle.dump(model, pickle_out)
pickle_out.close

In [36]:
import sklearn
print(sklearn.__version__)

1.5.1